<!DOCTYPE html>

<html>

<body>

<h1>Create Weekly Roster</h1>
<div class="menu-bar">

    <a href="/dashboard"><button>Dashboard</button></a>

    <a href="/approve_leave"><button>Approve Leave</button></a>

    <a href="/emergency"><button>Emergency</button></a>

    <a href="/roster"><button>Weekly Roster</button></a>

    <a href="/inactive_doctors"><button>Inactive Doctors</button></a>

</div>

<br><br>

<form action="/save_roster" method="POST">

    <input type="text" name="doctor_name" placeholder="Doctor Name">

    <br><br>

    <input type="text" name="monday" placeholder="Monday">

    <input type="text" name="tuesday" placeholder="Tuesday">

    <input type="text" name="wednesday" placeholder="Wednesday">

    <input type="text" name="thursday" placeholder="Thursday">

    <input type="text" name="friday" placeholder="Friday">

    <input type="text" name="saturday" placeholder="Saturday">

    <input type="text" name="sunday" placeholder="Sunday">

    <br><br>

    <button type="submit">

        Save Roster

    </button>

</form>

</body>

</html>