<!DOCTYPE html>

<html>

<head>

    <title>Emergency Alert</title>

</head>

<body>

<h1>Emergency Alert System 🚨</h1>
<div class="menu-bar">

    <a href="/dashboard"><button>Dashboard</button></a>

    <a href="/approve_leave"><button>Approve Leave</button></a>

    <a href="/emergency"><button>Emergency</button></a>

    <a href="/roster"><button>Weekly Roster</button></a>

    <a href="/inactive_doctors"><button>Inactive Doctors</button></a>

</div>

<br><br>

<form action="/send_emergency" method="POST">

    <label>Department Needed</label>

    <br><br>

    <input type="text"
           name="department">

    <br><br>

    <label>Emergency Type</label>

    <br><br>

<select name="emergency">

    <option>Heart Attack</option>
    <option>Stroke</option>
    <option>Road Accident</option>
    <option>Emergency Surgery</option>
    <option>Emergency C-Section</option>
    <option>Trauma Case</option>

</select>

    <br><br>

    <label>Shift</label>

    <br><br>

    <select name="shift">

        <option>Morning</option>
        <option>Afternoon</option>
        <option>Night</option>

    </select>

    <br><br>

    <button type="submit">

        Send Emergency Alert

    </button>

</form>

</body>

</html>