<!DOCTYPE html>

<html>

<head>

    <title>Inactive Doctors</title>

</head>

<body>

<h1>Inactive Doctors</h1>
<div class="menu-bar">

    <a href="/dashboard"><button>Dashboard</button></a>

    <a href="/approve_leave"><button>Approve Leave</button></a>

    <a href="/emergency"><button>Emergency</button></a>

    <a href="/roster"><button>Weekly Roster</button></a>

    <a href="/inactive_doctors"><button>Inactive Doctors</button></a>

</div>

<br><br>

<table border="1" cellpadding="10">

    <tr>

        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Shift</th>
        <th>Status</th>
        <th>Action</th>

    </tr>

    {% for doctor in doctors %}

    <tr>

        <td>{{ doctor[0] }}</td>
        <td>{{ doctor[1] }}</td>
        <td>{{ doctor[2] }}</td>
        <td>{{ doctor[3] }}</td>
        <td>{{ doctor[4] }}</td>

        <td>

            <a href="/restore_doctor/{{ doctor[0] }}">

                <button>Restore</button>

            </a>

        </td>

    </tr>

    {% endfor %}

</table>

</body>

</html>